*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body { 
    font-family: 'Roboto', sans-serif;
}

.cuerpo-de-texto {
    font-size: 12px;
    line-height: 20px;
}

li {
    list-style: none;
}





